@use "modules/tray/style.scss" as tray;
@use "modules/popup/style.scss" as popup;
@use "modules/watermark/style.scss" as watermark;
@use "colors.scss" as colors;

scale {
  margin: 0;
  padding: 0;

  slider {
    opacity: 0;
  }

  trough {
    background: colors.$ui-con;
    border: none;
    border-radius: 300px;
    min-width: 2rem;

    highlight {
      background: colors.$ui-aa;
      border: none;
      border-radius: 100px;
      min-height: 2rem;
      min-width: 0px;
    }
  }
}

calendar {
  all: unset;

  &.view {
    border-radius: calc(1rem + .6rem);
    background: colors.$ui-ab;
    border: none;
    color: colors.$ui-con;
    padding: .5rem;

    & header {
      all: unset;
      background: none;
      border-bottom: 2px solid #cccccc77;
      color: colors.$ui-con;
      padding-bottom: .5rem;

      & button {
        all: unset;
        color: colors.$ui-con;
        transition: .3s ease;
      }

      & button:hover {
        color: colors.$ui-aa;
      }
    }

    & grid {
      label {
        &.today {
          all: unset;
          border: none;
          box-shadow: none;
          background: colors.$ui-aa;
          border-radius: 10rem;
        }
      }
    }
  }
}

calendar grid label.day-number:selected {
  all: unset;
  border-radius: 5rem;
  background: rgba(colors.$ui-aa, .5);
  border: none;
  color: colors.$ui-con;
  outline: none;
}

dropdown,
dropdown *,
dropdown * *,
popover *,
popover {
  all: unset;
  transition: .3s ease;
}

dropdown {
  border-radius: 100px;
  background: colors.$ui-aa;
  color: colors.$ui-con;
}

dropdown button {
  padding: 0;
  border-radius: 100px;
  padding: .5rem;
}

dropdown button label {
  margin-bottom: -1.1rem;
}

dropdown button arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  color: colors.$ui-con;
  padding: 0;
  /* margin-top: .5rem; */
  margin-bottom: -.5rem;
}

popover.menu {
  transition: .3s ease;
  background: colors.$ui-aa;
  color: colors.$ui-con;
  margin-top: .4rem;
  border-radius: 1.3rem;
}

popover.menu contents {
  padding: .5rem;
  margin-bottom: -1rem;
}
