@use 'colors' as c;
@use 'settings' as s;
.audio{
  font-family: 'Storopia';
}
.audio.window{
  background: None;
}

.audio.control.box{
  padding: 10px;
  border-radius: 18px;
  background: c.$ui-white;
  margin-bottom: s.$tray-item-distance;
}

.audio.button{
  margin: 10px;
  background: #ff3501;
  padding:10px;
}
.audio.name{
  font-size: 20px;
  font-weight: 700;
  margin:5px;
  padding: 0;
  color: c.$ui-main;
}
.audio.desc{
  /* font-weight: 600; */
  font-size: 17px;
  color: c.$ui-main;
}

.audio.scale{
  color: c.$ui-main;
}
