@import "workspace_indicator";
$main: #030;
$border-radius: 10px;


*{
  all:unset;
}

label{
  line-height: 1;
  /* margin-top: -20px; */
}

.bar.trigger{
  background: #000000ff;
  padding-top: 5px;
}

.bar.left{
  background: $main;
  padding: 5px;
  border-top-right-radius: $border-radius;
  font-size: 70px;
  font-family: 'Ndot';
}

.bar.center{
  background: $main;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

button.bar.trigger{
  background-color: #304;
  padding: 10px;
  margin: 20px;
  border-radius: 99px;
  >label{
    margin: 0px 5px;
  }
}
