@import "workspace_indicator";

*{
  all:unset;
}

label{
  line-height: 1;
  /* margin-top: -20px; */
}

.bar.trigger{
  background: #00000001;
  padding-top: 5px;
}

.bar.left{
  background: $background;
  padding: 0px 20px;
  border-top-right-radius: $border-radius;
  font-size: 40px;
  font-family: 'Ndot';
}

.bar.center{
  background: $background;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  padding: 5px;
}

.bar.right{
  background-color: $background;
  border-top-left-radius: $border-radius;
}

button.bar.trigger{
  background-color: $background-dark;
  padding: 10px;
  margin: 5px;
  border-radius: 99px;
  >label{
    margin: 0px 5px;
  }
}
