*{
  all:unset;
}

.bt.window{
  background: #faf;
  margin-right: 100px;
  padding: 10px;
}
.bt.main{
  background: #999;
}

.bt.device{
  background: #120;
  padding: 10px;
  margin: 10px;
}

.bt.test{
  background: #419;
  padding: 20px;
}
