@use "colors" as c;
@use "settings" as s;

*{
  all:unset;
}

.bt.device{
  background: c.$ui-white;
  padding: 10px;
  margin: 10px 0px;
  color: c.$ui-main;
  font-family: 'Storopia';
  transition: .3s ease;
  font-size: 17px;
  box-shadow: 0 0 5px 3px c.$ui-shadow;
  border-radius: 100px;
  &.hover{
    background: c.$ui-second;
  }
}

.bt.scan-button{
  padding:10px;
  font-size: 40px;
  background: c.$ui-white;
  margin-top: 10px;
  border-radius: 100px;
  font-family: 'Storopia';
  color: c.$ui-main;
}

.bt.scanning-indicator{
  color: #ddd;
  font-family: 'Storopia';
}
