@use "colors" as c;
@use "settings" as s;

* {
  all: unset;
}

.bt.window {
  margin-bottom: s.$tray-item-distance;
  background: none;
  border-radius: 20px;
  padding: 10px;
}

.bt.main {
  min-height: 200px;
  /*max-height: 300px;*/
}

.bt.device {
  background: c.$ui-ab;
  padding: 10px;
  padding-left: 15px;
  margin: 10px;
  color: c.$ui-con;
  font-family: 'Storopia';
  transition: .3s ease;
  font-size: 17px;
  box-shadow: 0 0 5px 1px c.$ui-shadow;
  border-radius: 100px;

  &:hover {
    background: c.$ui-aa;
  }
}

.bt.scan-button {
  padding: 10px;
  font-size: 20px;
  background: c.$ui-ab;
  margin: 10px;
  border-radius: 100px;
  font-family: 'Storopia';
  color: c.$ui-con;
  transition: .3s ease;
  box-shadow: 0 0 5px 1px c.$ui-shadow;
}

.bt.scan-button:hover {
  background: c.$ui-aa;
}

.bt.scanning-indicator {
  color: #ddd;
  font-family: 'Storopia';
}
