.empty.frame{
  background: $background;
  border-radius: $border-radius;
  color: $accent;
  border:none;
  font-size: 210px;
  font-family: "Storopia";
  padding:20px;
  &.hover{
    font-size: 230px;
  }
}
.empty.frame>label{
  line-height: 0.7;
  margin-top: -20px;
}
