@use 'colors';

.homescreen.clock {
  line-height: 0.7;
  border-radius: 100px;
  color: colors.$ui-con;
  border: none;
  font-size: 10rem;
  font-weight: 100;
  font-family: "Storopia";
  background: colors.$ui-ab;
  margin: 5rem;
  box-shadow: 0 0 5px 3px colors.$ui-shadow;
  padding: 3rem;
  padding-top: 2rem;
}

/*
.homescreen.clock:hover {
  animation: radial 2s ease-out;
}

@keyframes radial {
  0% {
    background: linear-gradient(0deg, colors.$ui-ab 0%, colors.$ui-ab 100%);
  }

  40% {
    background: linear-gradient(360deg, colors.$ui-aa 0%, colors.$ui-ab 100%);
  }

  80% {}

  100% {
    background: linear-gradient(360deg, colors.$ui-ab 0%, colors.$ui-ab 100%);
  }
}
*/
