@use 'colors';
@use 'settings' as s;
.popup{
  &.frame{
    border:none;
    background: colors.$ui-main;
    border-radius: 200px;
    margin: 20px;
    padding: calc(s.$popup-size*0.4);
    box-shadow: 0 0 10px 2px colors.$ui-shadow;
  }

  &.scale{
    all:unset;
    min-width: 150px;
    min-height: 1px;
    border-radius: 100px;
  }

  &.icon{
    box-shadow: 0 0 10px 2px colors.$ui-shadow;
    background: colors.$ui-white;
    border-radius: 100px;
    color: colors.$ui-main;
    font-size: calc(s.$popup-size*0.7);
    min-height: s.$popup-size;
    min-width: s.$popup-size;
    margin-right: 15px;
  }
}

