@use "colors" as c;
@use "settings" as s;

.powermenu {
  &.shadow {
    background: #00000001;
    /*
    padding-top:30rem;
    padding-bottom:30rem;
    padding-left:50rem;
    padding-right:50rem;
    */
  }

  &.window {
    background: c.$ui-shadow;
    margin-top: 30rem;
    margin-bottom: 30rem;
    margin-left: 50rem;
    margin-right: 50rem;
    border-radius: 1rem;
  }

  &.btn-rig {
    margin: 10px;
    min-width: 15rem;
    min-height: 15rem;
    background: c.$ui-ab;
    border-radius: calc(1rem - 5px);
    transition: .2s ease;
  }

  &.btn-rig:hover {
    background: c.$ui-aa;
  }

  &.opt.desc {
    color: c.$ui-con;
    font-size: 1.2rem;
    font-family: "Storopia";
    margin-bottom: 1rem;
  }

  &.opt.icon {
    color: c.$ui-con;
    font-size: 8rem;
  }
}
