.workspace-indicator{
  min-width: 20px;
  min-height: 20px;
  background: $accent-dark;
  transition: .3s ease-out;
  border-radius: 99px;
  margin: 5px;
  &.active{
    background: $accent-light;
    min-width: 40px;
  }
}
